    <%= will_paginate @dogs, :class => "paginate row justify-content-center"%>  
        <div class="row">
            <% @dogs.each do |dog| %>
                <div class="col w-20">
                    <%= render partial: 'thumbnail', object: dog, as: :dog %>    
                </div>
            <% end %>      
        </div>
    <%= will_paginate @dogs, :class => "paginate row justify-content-center" %>