/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.carousel {
  max-width: fit-content;
}

.carousel-item {
    width: auto;
    height: 600px;
    max-height: 600px;
}

.paginate > *, form img {
  padding: 0 5px;
    padding: 0;
}

.card {
  width: max-content;
}

.card-body {
  text-align: center;
}

.card-img-top {
  height: 300px;
}

.paginate em, .paginate span, .paginate a {
  margin-right: 3px;
}